.Mypage
  .head
    = link_to image_tag("logo/logo.png", alt:"FURIMA", class: 'logo'), root_path
  .mypage-a  
    %main.mypage-a__clearfix
      = render "mypage-side"
      .main-content
        .logout
          .logout__box
            .logout__box__btn
              = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"logout-btn"