.Mypage
  -# = render "products/header"
  -# = render "products/bottomview_footer"


  .mypage_a  
  %main.mypage-contents.clearfix
    = render "mypage-side"
    .main-content
      %section.user
        .user-link
          .user-link__iconn
            = image_tag "icon/user.png", class:"user-link__icon"
          %h2.user-link__name
            =current_user.nickname
          .user-link__number
            評価  ５  出品数  ８
      .user-self
        .messege
          
