* {
  box-sizing: border-box; 
}

$fields-top:  40px;
@mixin fieldside() {
  margin-left: 178px;
  margin-right: 178px;
}


.Body {
  background-color: #f5f5f5;
  height: 100%;
  .top {
    height: 128px;
    line-height: 49px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    .logo{
      width: 185px;
      height: 49px;
      margin-right: 10px;
    }
  }
  .information {
    font-size: 14px;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__user {
      background-color: white;
    }
    h2 {
      padding: 40px;
      font-size: 22px;
      text-align: center;
    }
    .Borderline{
      border: 1px solid #efefef;
    }
  
    &__userField {
      height: 100%;
      @include fieldside();
      .field1 {
        padding-top: $fields-top;
      }
      .field2 {
        padding-top: $fields-top;
      }
      .field3 {
        padding-top: $fields-top;
      }
      .field4 {
        padding-top: $fields-top;
      }
    }
    &__personField {
      @include fieldside();
      .field1 {
        padding-top: $fields-top;  
      }
      .field2 {
        padding-top: $fields-top; 
      }
      .field3 {
        padding-top: $fields-top;
      }
    }
    &__adressField {
      @include fieldside();
      .field1 {
        padding-top: $fields-top;
      }
      .field2 {
        padding-top: $fields-top;
      }
      .field3 {
        padding-top: $fields-top;
      }
      .field4{
        padding-top: $fields-top;
      }
      .field5 {
        padding-top: $fields-top;
      }
      .field6 {
        padding-top: $fields-top;
      }
      .field7 {
        padding-top: $fields-top;
      }
      .actions {
        padding-top: $fields-top;
      }
      .submit {
        height: 50px;
        width: 343px;
        height: 50px;
        background-color: #3CCACE;
        color: white;
        border: honeydew;
        margin-bottom: 60px;
      }
    }
  }
  .Footer {
    background-color: #f5f5f5;
    width: 100vw;
    height: 128px;
  }
}


.fields {
  width: 100%;
  height: 48px;
}
.input-person {
  height: 48px;
}
.input-address {
  height: 48px;
  width: 344px;
}