* {
  box-sizing: border-box; 
}
.header{
  height: 128px;
  width: 185px;
  line-height: 49px;
  .logo{
    height: 80px;
  }
}
.information {
  text-align: center;
  background-color: #eee;
  font-size: 26px;
  height: 100vh;
  width: 700px;
  border: solid 1px ;
  margin: 0 auto;
  border: solid 1px;  
  &__user {
    background-color: white;
  }
  &__userField {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    .field1 {
      padding-top: 40px;
      background-color: red;
    }
    .field2 {
      padding-top: 40px;
    }
    .field3 {
      padding-top: 40px;
    }
    .field4 {
      padding-top: 40px  
    }
  }
}