* {
  box-sizing: border-box; 
}
.head {
  height: 128px;
  line-height: 49px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #f5f5f5;
  
  .logo{
    width: 185px;
    height: 49px;
    margin-right: 10px;
  }
}

.contents {
  text-align: center;
  background-color: #f5f5f5;
  font-size: 26px;
  height: 100vh;
  label {
    font: 14px 'Fira Sans', sans-serif;
  }
}  
  
.mainField { 
  margin: 0 auto;
  background-color: white;
  width: 400px;
  height: 100%;
  
  .field1 {
    padding-top: 40px;
  }
  .field2 {
    padding-top: 40px;
  }
  .field3 {
    padding-top: 40px;
  }
  .field4 {
    padding-top: 40px  
  }
}

.form {
  input[submit="text"],
  input[value="ログイン"]{
    background-color: red;
    color: white;
    width: 300px;
    border: solid 1px;
    margin-bottom: 40px;
  }
}