* {
  box-sizing: border-box; 
}
.Wrapper{
  .Top {
    height: 128px;
    line-height: 49px;
  }
  .Buy_body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 0px;
    .Check_purchase{
      background-color: rgb(238, 82, 82);
      height: 40px;
      width: 100vw;
      margin: 20px 0 50px;
      font-size: 25px;
      text-align: center;
    }
    .Product_info{
      width: 80%;
      display: flex;
      justify-content: space-around;
      &__image{
        width: auto;
        display: block;
      }
      &__detail{
        &__table{
          text-align: left;
          width: 500px;
          table {
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
           }
          tbody { 
          display: table-row-group;
          border-color: inherit;
          }
          th {
          padding: 8px;
          width: 30%;
          text-align: left;
          font-weight: 400;
          background: #FAFAFA;
          border: collapse;
          border: 1px solid #F5F5F5;
          }
          td {
          width: 70%;
          padding: 8px;
          border-collapse: collapse;
          border: 1px solid #F5F5F5;
          } 
        }
      }
      &__submit{
        &__Card_info{
          &--btn{
            margin: 20px 0 0 20px;
            display: block;
            font-size: 22px;
            text-align: center;
            height: 50px;
            width: 100px;
            border: none;
            color: white;
            background: lightseagreen;
          }
        }
      }
    }
  }
}
