* {
  box-sizing: border-box;
}


.Main{
  background-color: #f8f8f8;
  .Icon {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__detail {
      height: 49px;
      width: 185px;
    }
  }
  .Underbody {
    .Forms {
      max-width: 700px;
      margin: 0px auto;
      .form-field {
        background-color: white;
        .Image {
          padding: 40px;
          &__label {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
          } 
          &__max {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.4em;
          }
          &__field {
            &--photo {
              width: 620px;
              height: 150px;
              background-color: rgb(204, 204, 204);
              border: 1px dashed #efefef;
              margin-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              .icon {
              }
            }
          }
          &__box {
            .js-file_group {
              .js-file {
                display: none;
              }
            }
          }
        }
        .Borderline {
          border: 1px solid #efefef;;
        }
        .Product__nameandexplanation {
          padding: 40px;
          .Product__name {
            &--label {
              &--field {
              }
              .item-name {
                width: 620px;
                height: 48px;
              }
            }
          }
          .Product__explanation {
            &--label {
              .Product__item--field {
                .item-explanation {
                  width: 620px;
                  height: 48px;
                }
              }
            }
          }
        }
      }
    }
  }
}
