// トップの商品一覧
.Productlists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  &__productlist {
    float: left;
    margin: 0px auto;
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
    .lists{
      display: flex;
    }
  }
}
.Product-categoly{
  &__product{
    width: 220px;
    display: inline-block;
    float: left;
    .ProductList--body {
      background-color: white;
      color: #333;
      padding: 16px;
      &__name {
        overflow: hidden;
        line-height: 1.5;
        font-size: 16px;
        text-align: left;
      }
      &__price {
        font-size: 16px;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            .fa {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
        p {
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}



