* {
  box-sizing: border-box;
}

@mixin clearfix() {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 40px 0 20px 0;
}


//商品出品ページ
.Main {
  background-color: #f8f8f8;

  .Icon {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__detail {
      height: 49px;
      width: 185px;
    }
  }

  .Underbody {
    .Forms {
      max-width: 700px;
      margin: 0px auto;

      &__Submit {
        background-color: red;
        color: white;
        border: none;
        width: 360px;
        height: 40px;
      }

      .form-field {
        padding: 40px;
        background-color: white;
        .js-file_group{
          display: flex;
          .js-remove{
            font-size: 16px;
            color: red;
          }
        }

        .Image {
          &__label {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4em;
            span{
              color: #df3131;
            }
          }

          &__max {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.4em;
          }
          .hidden-content {
            display: none
          }
          &__field {
            &--photo {
              width: 620px;
              height: 150px;
              background-color: rgb(204, 204, 204);
              border: 1px dashed #efefef;
              margin-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.Borderline {
  border: 1px solid #efefef;
  ;
}

.Product__name--label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Product__name--field {
  width: 100%;
  height: 40px;
}

.Product__explanation--label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Product__details--label {
  @include clearfix();
}

.Product__details--category-label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Product__details--brand-label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Product__details--condition-label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Delivery__label {
  @include clearfix();
}

.Delivery__fee--label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Delivery__area--select-field {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Shipping-days__label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Price__range {
  @include clearfix();
}

.Price__selling-price--field {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Price__selling-price--label {
  @include clearfix();
  span{
    color: #df3131;
  }
}

.Price__input--field {
  height: 40px;
}

.Sales-fee {
  @include clearfix();
}

.Sales-profit__label {
  @include clearfix();
}

.Product__explanation--field {
  width: 100%;
  height: 150px;
}

.Product__details--input--field {
  width: 100%;
  height: 40px;
}

.Product__details--category--field {
  width: 100%;
  height: 40px;
}

.Editend-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.Edit-buttons {
  input {
    display: flex;
    justify-content: center;
    width:360px;
    height: 40px;
    color: white;
    background-color: blue;
    margin-left: 135px;
  }
}


.Back {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .back-btn{
    text-decoration: none ;
    font-weight: bold;
    color: black;
  }
}

//投稿クリックエリアのCSS
.label-content{
  margin-bottom: 10px;
  flex: 1;
  .label-box {
    display: block;
    border: 1px dashed #ccc;
    position: relative;
    background: #f5f5f5;
    width: 100%;
    height: 162px;
    cursor: pointer;
    &__text-visible {
      position: absolute;
      top: 50%;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      font-weight: bold;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

.Image_box--flex{
  display: flex;
  &__list{
    display: flex;
  }
}
.Previews{
  display: flex;
}

.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }


}