// トップの商品一覧
.Productlists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  &__productlist {
    width: 1020px;
    display: flex;
  }
}
.Product-categoly{
  width: 220px;
  &__product{
    width: 210px;
    display: inline-block;
    img{
      width: 210px;
      height: 180px;
    }
    .ProductList--body {
      background-color: white;
      color: #333;
      padding: 16px;
      &__name {
        overflow: hidden;
        line-height: 1.5;
        font-size: 16px;
        text-align: left;
      }
      &__price {
        font-size: 16px;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            .fa {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
        p {
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  top:-305px;
  &__inner{
    transform: rotate(-45deg);
    // font-size: 22px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

