#productEx
  .Main
    .Icon
      %a.sc-ghsgMZ.gXEMon{href: "/jp/"}
        %img.sc-fjhmcy.cvtVPU{alt: "Mercari", src "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
    .sc-fAjcbJ.iYiELi.sc-hwcHae.jVHssd
      .sc-caSCKo.OLMic
        .sc-hBbWxd.ioDpM
          .sc-dyGzUR.jFizeg
        .sc-hBbWxd.ioDpM
          .sc-dyGzUR.gRkymu
            .sc-cBrjTV.gLnfDJ
              %p.sc-iCwjlJ.chHprE{"data-test" => "modal-title"} ご確認下さい
              .sc-fkyLDJ.kSTfde
                .sc-jdfcpN.ezMyeO{"data-test" => "modal-description-inner"}
                  入力された情報から禁止された行為・出品物に当たる可能性があります。
              .sc-fkyLDJ.sc-jUpvKA.bBNyMt
                .sc-jdfcpN.ezMyeO
                  %p
                    禁止されている
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_conduct/", :rel => "noopener noreferrer", :target => "_blank"}> 行為
                    および
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_items/", :rel => "noopener noreferrer", :target => "_blank"}> 出品物
                    を必ずご確認ください。
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 偽ブランド品
                    や
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/report_counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 盗品物
                    などの販売は犯罪であり、法律により処罰される可能性があります。
                    また、出品をもちまして
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/seller_terms/", :rel => "noopener noreferrer", :target => "_blank"}> 加盟店規約
                    に同意したことになります。
            .sc-eopZyb.hlpOKF{"data-test" => "modal-buttons"}
              %button.sc-eNNmBn.sc-eEieub.eFDQgT キャンセル
              %button.sc-eNNmBn.sc-RbTVP.btqeGd 出品する
        %form.sc-cqPOvA.kdnXmt{:action => "#"}
          .sc-hBbWxd.ioDpM
            .sc-dyGzUR.jFizeg
              .sc-dRFtgE.jCNLUy
                %p.sc-gkFcWv.jbMwrs 写真を切り取る
                .sc-hUfwpO.eabiev
                  %svg.sc-imABML.iqJpuz{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                    %path{:d => "M20.3,4.7H15.47v-2a.7.7,0,0,0-.7-.7H9.23a.7.7,0,0,0-.7.7v2H3.7a.71.71,0,0,0,0,1.41h1V19.3a2.85,2.85,0,0,0,3,2.7h8.74a2.85,2.85,0,0,0,3-2.7V6.11h1a.71.71,0,0,0,0-1.41ZM9.6,17.85a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0Zm3,0a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0ZM14.07,4.7H9.93V3.4h4.14ZM15.6,17.85a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0Z"}
                  %span.sc-cjHlYL.ekRaqx 削除する
              .sc-dRaagA.cxmQrL
                .sc-fEUNkw.ffUgNi
                  %svg{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "20", :viewbox => "0 0 24 24", :width => "20"}
                    %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                  %input.sc-dREXXX.cLMrVm{:max => "2", :min => "1", :step => "0.01", :type => "range", :value => "1"}/
                  %svg{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                    %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
              .sc-kcbnda.dzTSRO
                %button.style_button__3yWFH.common_fontFamily__3-3Si.style_defaultIntent__22709.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-hcmgZB.eFOeTR{:tabindex => "0", :type => "button"} キャンセル
                %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-hcmgZB.eFOeTR{:tabindex => "0", :type => "button"} 完了
          .sc-eAKXzc.iVOMD
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "photos"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 出品画像
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                %p.sc-ejGVNB.ieuBws.style_controls__B6nQm 最大10枚までアップロードできます
                .sc-bYwvMP.kOnHwf.style_controls__B6nQm
                  .sc-feryYK.bPGNgJ{"data-test" => "sell-upload-container"}
                    .sc-eLdqWK.cBKBqZ{:tabindex => "0"}
                      .sc-iiUIRa.dPOcWZ
                        %input.sc-hgRTRy.hExdOf{:accept => "image/png,image/jpeg", :autocomplete => "off", :multiple => "multiple", :style => "display: none;", :tabindex => "-1", :type => "file"}/
                        %svg.sc-gldTML.itojhD{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                        %p.sc-iIHSe.bIEvxt
                          ドラッグアンドドロップ
                          %br>/
                          またはクリックしてファイルをアップロード
          %hr.style_divider__1tLu3.style_size1__3jc3t/
          .sc-eAKXzc.iVOMD
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "name"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 商品名
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                  .style_inputarea__1mtsA
                    %input{:autocomplete => "off", :name => "name", :placeholder => "40文字まで", :type => "text", :value => ""}/
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "description"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 商品の説明
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                %textarea.style_textarea__24aZZ.common_fontFamily__3-3Si.style_fluid__10CPG{:name => "description", :placeholder => "", :rows => "7"}
                .style_counter__ofu-P.common_fontFamily__3-3Si.style_right__1Vw8k
                  %span> 0
                  \/1000
          %hr.style_divider__1tLu3.style_size1__3jc3t/
          .sc-eAKXzc.iVOMD
            %p.sc-bfYoXt.fdNByB 商品の詳細
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "categoryId"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label カテゴリー
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                  .style_selectarea__3ZX8E
                    %select{:name => "categoryId"}
                      %option{"aria-selected" => "true", :label => "選択してください", :value => ""} 選択してください
                      %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
                      %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
                      %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
                      %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
                      %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
                      %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
                      %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
                      %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
                      %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
                      %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
                      %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
                      %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
                      %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
                    %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                .style_formLabel__3wM81.common_fontFamily__3-3Si
                  %label ブランド
                  %span.style_tag__xA80S.style_hint__3awFd.style_small__2vSa8.common_fontFamily__3-3Si 任意
                .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                  .style_inputarea__1mtsA
                    %input{:autocomplete => "off", :name => "brandName", :placeholder => "例）シャネル", :type => "text", :value => ""}/
                %ul.sc-jbKcbu.cApMkI.sc-gbOuXE.bOJwJg.style_controls__B6nQm
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "itemCondition"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 商品の状態
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                  .style_selectarea__3ZX8E
                    %select{:name => "itemCondition"}
                      %option{"aria-selected" => "true", :label => "選択してください", :value => ""} 選択してください
                      %option{"aria-selected" => "false", :label => "新品、未使用", :value => "1"} 新品、未使用
                      %option{"aria-selected" => "false", :label => "未使用に近い", :value => "2"} 未使用に近い
                      %option{"aria-selected" => "false", :label => "目立った傷や汚れなし", :value => "3"} 目立った傷や汚れなし
                      %option{"aria-selected" => "false", :label => "やや傷や汚れあり", :value => "4"} やや傷や汚れあり
                      %option{"aria-selected" => "false", :label => "傷や汚れあり", :value => "5"} 傷や汚れあり
                      %option{"aria-selected" => "false", :label => "全体的に状態が悪い", :value => "6"} 全体的に状態が悪い
                    %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
          %hr.style_divider__1tLu3.style_size1__3jc3t/
          .sc-eAKXzc.iVOMD
            %p.sc-bfYoXt.fdNByB
              配送について
              %a{:href => "/jp/help_center/article/68/", :rel => "noopener noreferrer", :target => "_blank"}
                %svg.sc-ESoVU.emlFbt{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                  %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                  %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                  %circle{:cx => "12", :cy => "16.24", :r => "1"}
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "shippingPayer"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 配送料の負担
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                  .style_selectarea__3ZX8E
                    %select{:name => "shippingPayer"}
                      %option{"aria-selected" => "true", :label => "選択してください", :value => ""} 選択してください
                      %option{"aria-selected" => "false", :label => "送料込み(出品者負担)", :value => "2"} 送料込み(出品者負担)
                      %option{"aria-selected" => "false", :label => "着払い(購入者負担)", :value => "1"} 着払い(購入者負担)
                    %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "shippingFromArea"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 発送元の地域
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                  .style_selectarea__3ZX8E
                    %select{:name => "shippingFromArea"}
                      %option{"aria-selected" => "true", :label => "選択してください", :value => ""} 選択してください
                      %option{"aria-selected" => "false", :label => "北海道", :value => "1"} 北海道
                      %option{"aria-selected" => "false", :label => "青森県", :value => "2"} 青森県
                      %option{"aria-selected" => "false", :label => "岩手県", :value => "3"} 岩手県
                      %option{"aria-selected" => "false", :label => "宮城県", :value => "4"} 宮城県
                      %option{"aria-selected" => "false", :label => "秋田県", :value => "5"} 秋田県
                      %option{"aria-selected" => "false", :label => "山形県", :value => "6"} 山形県
                      %option{"aria-selected" => "false", :label => "福島県", :value => "7"} 福島県
                      %option{"aria-selected" => "false", :label => "茨城県", :value => "8"} 茨城県
                      %option{"aria-selected" => "false", :label => "栃木県", :value => "9"} 栃木県
                      %option{"aria-selected" => "false", :label => "群馬県", :value => "10"} 群馬県
                      %option{"aria-selected" => "false", :label => "埼玉県", :value => "11"} 埼玉県
                      %option{"aria-selected" => "false", :label => "千葉県", :value => "12"} 千葉県
                      %option{"aria-selected" => "false", :label => "東京都", :value => "13"} 東京都
                      %option{"aria-selected" => "false", :label => "神奈川県", :value => "14"} 神奈川県
                      %option{"aria-selected" => "false", :label => "新潟県", :value => "15"} 新潟県
                      %option{"aria-selected" => "false", :label => "富山県", :value => "16"} 富山県
                      %option{"aria-selected" => "false", :label => "石川県", :value => "17"} 石川県
                      %option{"aria-selected" => "false", :label => "福井県", :value => "18"} 福井県
                      %option{"aria-selected" => "false", :label => "山梨県", :value => "19"} 山梨県
                      %option{"aria-selected" => "false", :label => "長野県", :value => "20"} 長野県
                      %option{"aria-selected" => "false", :label => "岐阜県", :value => "21"} 岐阜県
                      %option{"aria-selected" => "false", :label => "静岡県", :value => "22"} 静岡県
                      %option{"aria-selected" => "false", :label => "愛知県", :value => "23"} 愛知県
                      %option{"aria-selected" => "false", :label => "三重県", :value => "24"} 三重県
                      %option{"aria-selected" => "false", :label => "滋賀県", :value => "25"} 滋賀県
                      %option{"aria-selected" => "false", :label => "京都府", :value => "26"} 京都府
                      %option{"aria-selected" => "false", :label => "大阪府", :value => "27"} 大阪府
                      %option{"aria-selected" => "false", :label => "兵庫県", :value => "28"} 兵庫県
                      %option{"aria-selected" => "false", :label => "奈良県", :value => "29"} 奈良県
                      %option{"aria-selected" => "false", :label => "和歌山県", :value => "30"} 和歌山県
                      %option{"aria-selected" => "false", :label => "鳥取県", :value => "31"} 鳥取県
                      %option{"aria-selected" => "false", :label => "島根県", :value => "32"} 島根県
                      %option{"aria-selected" => "false", :label => "岡山県", :value => "33"} 岡山県
                      %option{"aria-selected" => "false", :label => "広島県", :value => "34"} 広島県
                      %option{"aria-selected" => "false", :label => "山口県", :value => "35"} 山口県
                      %option{"aria-selected" => "false", :label => "徳島県", :value => "36"} 徳島県
                      %option{"aria-selected" => "false", :label => "香川県", :value => "37"} 香川県
                      %option{"aria-selected" => "false", :label => "愛媛県", :value => "38"} 愛媛県
                      %option{"aria-selected" => "false", :label => "高知県", :value => "39"} 高知県
                      %option{"aria-selected" => "false", :label => "福岡県", :value => "40"} 福岡県
                      %option{"aria-selected" => "false", :label => "佐賀県", :value => "41"} 佐賀県
                      %option{"aria-selected" => "false", :label => "長崎県", :value => "42"} 長崎県
                      %option{"aria-selected" => "false", :label => "熊本県", :value => "43"} 熊本県
                      %option{"aria-selected" => "false", :label => "大分県", :value => "44"} 大分県
                      %option{"aria-selected" => "false", :label => "宮崎県", :value => "45"} 宮崎県
                      %option{"aria-selected" => "false", :label => "鹿児島県", :value => "46"} 鹿児島県
                      %option{"aria-selected" => "false", :label => "沖縄県", :value => "47"} 沖縄県
                      %option{"aria-selected" => "false", :label => "未定", :value => "99"} 未定
                    %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .style_formgroup__3IPME.sc-iNhVCk.iucczz
              .style_body__1OP1S
                %div{:name => "shippingDuration"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 発送までの日数
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                  .style_selectarea__3ZX8E
                    %select{:name => "shippingDuration"}
                      %option{"aria-selected" => "true", :label => "選択してください", :value => ""} 選択してください
                      %option{"aria-selected" => "false", :label => "1~2日で発送", :value => "1"} 1~2日で発送
                      %option{"aria-selected" => "false", :label => "2~3日で発送", :value => "2"} 2~3日で発送
                      %option{"aria-selected" => "false", :label => "4~7日で発送", :value => "3"} 4~7日で発送
                    %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
          %hr.style_divider__1tLu3.style_size1__3jc3t/
          .sc-kkbgRg.kkvLhk
            %p.sc-bfYoXt.fdNByB
              価格（¥300〜9,999,999）
              %a{:href => "/jp/help_center/article/64/", :rel => "noopener noreferrer", :target => "_blank"}
                %svg.sc-ESoVU.emlFbt{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                  %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                  %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                  %circle{:cx => "12", :cy => "16.24", :r => "1"}
            .sc-jqIZGH.hSlHkq
              .sc-gbzWSY.gDMvJo
                .sc-cZBZkQ.ePFwbE{:name => "price"}
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label 販売価格
                    %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                %span.sc-jGxEUC.eIMhQq ¥
                .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv.sc-hRmvpr.hUlRjm
                  .style_inputarea__1mtsA
                    %input{:autocomplete => "off", :name => "price", :placeholder => "0", :type => "number", :value => ""}/
              .sc-gbzWSY.gDMvJo
                .sc-jMMfwr.hNJeyH{"data-test" => "fee-label"}
                  %div 販売手数料（10%）
                %span.sc-jdeSqf.dXqFLT{"data-test" => "fee-value"} —
              %hr.style_divider__1tLu3.style_size1__3jc3t/
              .sc-gbzWSY.gDMvJo
                .sc-jMMfwr.hNJeyH 販売利益
                %span.sc-jdeSqf.dXqFLT{"data-test" => "total-value"} —
          .sc-drlKqa.kDOsXs
            %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0{:tabindex => "0", :type => "submit"} 出品する
            %button.style_button__3yWFH.common_fontFamily__3-3Si.style_defaultIntent__22709.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0{:tabindex => "0", :type => "button"} 下書きに保存
            %a.style_textlink__iJYDm.common_fontFamily__3-3Si.sc-jxGEyO.eKaDLp{:href => "/jp/"} もどる
          .sc-gacfCG.ZAEeh
            %p.sc-dEfkYy.jQZKl
            %p
              禁止されている
              %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_conduct/", :rel => "noopener noreferrer", :target => "_blank"}> 行為
              および
              %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_items/", :rel => "noopener noreferrer", :target => "_blank"}> 出品物
              を必ずご確認ください。
              %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 偽ブランド品
              や
              %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/report_counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 盗品物
              などの販売は犯罪であり、法律により処罰される可能性があります。
              また、出品をもちまして
              %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/seller_terms/", :rel => "noopener noreferrer", :target => "_blank"}> 加盟店規約
              に同意したことになります。
    .sc-lnmtFM.mdnM
      .sc-erNlkL.gyKnYB
        %ul.sc-FQuPU.kDfwYx
          %li.sc-iuDHTM.iopICz
            %a.sc-kEmuub.ejTkGZ{:href => "/jp/privacy/"} プライバシーポリシー
          %li.sc-iuDHTM.iopICz
            %a.sc-kEmuub.ejTkGZ{:href => "/jp/tos/"} メルカリ利用規約
          %li.sc-iuDHTM.iopICz
            %a.sc-kEmuub.ejTkGZ{:href => "/jp/tokutei/"} 特定商取引に関する表記
      %a.sc-ghsgMZ.gXEMon{:href => "/jp/"}
        %img.sc-bbkauy.cCVlwx{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logotype-gray-432385160bc60aa0002854fccdef2caf.svg"}/
      %p.sc-fihHvN.dhkvkj © Mercari, Inc.
